body {
    font-family: 'Poppins', sans-serif;
}

.fa-spin {
    --fa-animation-duration: 6s;
}

span {
    margin: 0 20px 0 20px;
}

.bills {
    margin: 10px 20px 0 20px;
    color: yellow;
}

.header {
    border-radius: inherit;
    padding-top: 15px;
    min-height: 100px;
    min-width: -webkit-fill-available;
    background-color: grey;
}

.header:hover {
    background-color: rgb(212, 212, 38);
    color: #111;
}

.list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.h1 {
    margin: 60px 0 60px 0;
    color: yellow;
    text-transform: uppercase;
    font-weight: 200;
}

.input {
    border: 1px solid #111;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

select {
    margin: 0 0 0 10px;
}

.equals {
    font-size: 50px;
    margin: 10px 0 10px 10px;
}